{% extends '@numiko/content/node--teaser.html.twig' %}

{% block teaser_img %}
{% endblock teaser_img %}

{% block teaser_meta %}

  <span class="teaser__taxonomy">
    <span class="visually-hidden">{{ "Date published:"|t }} </span>
    {{ content.field_publication_date }}
  </span>

{% endblock teaser_meta %} 

